.dropDownAnswer {
    width: 70%;
    margin: 0 auto;
}

.line {
    border-top: 1px solid var(--bg-color);
}

.body {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon {
    margin-left: auto;
    width: 25px;
    height: 25px;

    svg {
        height: 100%;
        width: 100%;
        filter: invert(42%) sepia(100%) saturate(247%) hue-rotate(190deg)
            brightness(80%);
    }

    transition: transform 0.5s ease;
    transform: rotate(0deg) scale(0.9);
}

.rotate {
    transition: transform 0.5s;
    transform: rotate(225deg) scale(1.1);
}

.answer {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition:
        max-height 1s ease,
        opacity 0.3s ease;

    &.active {
        max-height: 500px;
        opacity: 1;
    }

    &.inActive {
        transition:
            max-height 0.1s ease,
            opacity 0.3s ease;
    }
}
