.inputWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid var(--secondary);
    outline: none;
    font-size: var(--font-m);
    text-shadow: 0 0 0 var(--primary-color);
    caret-color: black;

    &::placeholder {
        color: #e9d1ff;
    }
}

.readonly {
    opacity: 0.7;
}

.errorText {
    font-size: var(--font-size-s);
    position: absolute;
    right: 0;
    bottom: 35px;
}
