.inputWrapper {
    display: flex;
}

.placeholder {
    margin-right: 5px;
}

.input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid var(--secondary);
    outline: none;
    width: 100%;
    font-size: var(--font-m);
    text-shadow: 0 0 0 var(--primary-color);
    caret-color: black;
}

.readonly {
    opacity: 0.7;
}
