.card {
    margin: 0 50px 15px;
    transition: all 0.4s;

    &:hover {
        opacity: 0.8;
    }
}

.service {
    display: flex;
    align-items: center;
    gap: 16px;

    @media (width <= 950px) {
        flex-direction: column;
    }
}

.icon {
    width: 400px;
    height: 100px;

    svg {
        width: 100%;
        height: 100%;
    }
}

.iconRight {
    .service {
        flex-direction: row-reverse;

        @media (width <= 950px) {
            flex-direction: column;
        }
    }
}

.title {
    @media (width <= 950px) {
        text-align: center !important;
        white-space: normal;
    }

    @media (width <= 575px) {
        font-size: var(--font-size-s);
    }
}

.text {
    @media (width <= 950px) {
        text-align: center !important;
        overflow-wrap: break-word;
    }

    @media (width <= 575px) {
        font-size: var(--font-size-s);
    }
}
