.visitTable {
    display: flex;
    gap: 20px;

    @media (width <= 1250px) {
        flex-direction: column;
    }
}

.icon {
    width: 100px;
    height: 100px;

    svg {
        width: 100%;
        height: 100%;
    }
}

.card2 {
    flex: 1;
}
