.visitTable {
    display: flex;
    gap: 20px;
}

.card {
    min-width: 540px;
}

.icon {
    width: 100px;
    height: 100px;

    svg {
        width: 100%;
        height: 100%;
    }
}

.card2 {
    flex: 1;
}
