.visitTable {
    display: flex;
    gap: 20px;

    @media (width <= 1250px) {
        flex-direction: column;
    }
}

.icon {
    width: 100px;
    height: 100px;

    svg {
        width: 100%;
        height: 100%;
    }
}

.card2 {
    flex: 1;
}

.cardI {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    grid-template-columns: 1fr;
    gap: 20px;
}

.formTitle {
    text-align: center;
}

.supportIcon {
    text-align: center;
    display: flex;
    justify-content: center;

    svg {
        width: 120px;
        height: 120px;
    }
}

.fieldsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    @media (width <= 768px) {
        grid-template-columns: 1fr;
    }
}

.name,
.surname,
.lastname,
.email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sendBtn {
    margin: 50px auto 0;
}
