.card {
    flex: 1;
    background: var(--bg-color);
    border-radius: 10px;
    border: 1px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1 {
    height: 100px;
}

.h2 {
    height: 300px;
}

.h3 {
    height: 450px;
}

.w1 {
    width: 40px;
}

.w2 {
    width: 120px;
}

.w3 {
    width: 200px;
}
