.consultation {
    display: grid;
    margin-top: 20px;
    padding: 20px;
}

.formTitle {
    text-align: center;
}

.supportIcon {
    text-align: center;
    display: flex;
    justify-content: center;

    svg {
        width: 120px;
        height: 120px;
    }
}

.fieldsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    @media (width <= 768px) {
        grid-template-columns: 1fr;
    }
}

.name,
.surname,
.lastname,
.email {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.sendBtn {
    margin: 50px auto 0;
    border-radius: 5px;
}
