.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: var(--font-size-xl);
}

.submitLogin {
    margin: 40px auto !important;
    border: 1px solid var(--bg-color) !important;
    border-radius: 5px !important;
    color: var(--bg-color) !important;
    padding-left: 80px !important;
    padding-right: 80px !important;
}
