.appLink {
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    transition: all 0.3s;

    &:hover {
        opacity: 0.7;
    }
}

.bold {
    font-weight: bold;
}

.scale {
    &:hover {
        transform: scale(1.05);
    }
}

.underline {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--primary-color);
        transition: width 0.3s ease-in-out;
    }

    &:hover::after {
        width: 100%;
    }
}
